{{ define "footer" }}
{{/* Time-stamp: <2023-06-03 17:07:42 krylon> */}}
<hr />
<div class="footer">
  <footer>
    {{ app_string }}<br />
    &copy; 2023
    {{ if (gt current_year "2023") }}
    - {{ current_year }}
    {{ end }}
    <a href="mailto:benjamin.walkenhorst@posteo.de">
      Benjamin Walkenhorst
    </a>
    {{ if .Debug }}
    <br />
    Template rendered on <time>{{ now }}</time>
    {{ end }}
  </footer>
</div>
{{ end }}
