{{ define "footer" }}
{{/* Time-stamp: <2021-05-28 17:04:00 krylon> */}}
<hr />
<div class="footer">
  <footer>
    {{ app_string }}<br />
    &copy; 2021
    {{ if (gt current_year "2021") }}
    - {{ current_year }}
    {{ end }}
    <a href="mailto:benjamin.walkenhorst@posteo.de">
      Benjamin Walkenhorst
    </a>
    {{ if .Debug }}
    <br />
    Template rendered on <time>{{ now }}</time>
    {{ end }}
  </footer>
</div>
{{ end }}
