{{ define "head" }}
{{/* Time-stamp: <2023-06-05 16:10:42 krylon> */}}
<head>
  <title>{{ app_string }}@{{ hostname  }} - {{ .Title }}</title>
  
  <meta charset="utf-8">

  <script src="/static/jquery-3.6.0.min.js"></script>
  <script src="/static/bootstrap.bundle.min.js"></script>
  <script src="/static/underscore.js"></script>
  <script src="/static/sha512.min.js"></script>
  <script src="/static/settings.js"></script>
  <script src="/static/interact.js"></script>

  <script>
   $(document).ready(function() {
     initSettings();
     // Start the heartbeat loop
     beaconLoop();

     // $("#msg_check_interval")[0].value = settings.messages.interval;
     // We delay the start of the message loop, because it gave me
     // weird errors when I called it right away.
     // window.setTimeout(getNewMessages, 1000);


     {{/*
     curMessageCnt = {{ len .Messages }};
     if (curMessageCnt == 0) {
       $("#msg_tbl").hide();
       }
        */}}
   })
  </script>

  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="/static/bootstrap-utilities.min.css" />
</head>
{{ end }}
