{{ define "intro" }}
{{/* Time-stamp: <2023-06-03 17:26:33 krylon> */}}
<h1 id="page_title">{{ .Title }}</h1>
<hr />

{{ if .Debug }}
<script>
 $(document).ready(function() {
   if (!settings.beacon.active) {
     $("#beacon")[0].innerHTML = "Beacon is suspended";
   }
 });
</script>

<div class="debug container-fluid">
  {{ app_string }} running on {{ hostname }} (built on {{ app_build }})<br />
  Template rendered on <time>{{ now }}</time><br />
  {{/* Classifier was last trained on {{ fmt_time .TrainStamp }}<br /> */}}
  <div id="beacon" class="debug" onclick="beaconToggle();">
    Beacon
  </div>
</div>
{{ end }}

{{ template "menu" . }}
<p>
  &nbsp;
</p>

<hr />
{{ end }}
