{{ define "main" }}
{{/* Created on 03. 06. 2023 */}}
{{/* Time-stamp: <2023-06-03 17:26:44 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    Nothing to see here, move along.

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
