{{ define "menu" }}
{{/* Time-stamp: <2023-06-03 17:21:39 krylon> */}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D4D4D4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">Start</a>
        </li>

        <li class="nav-item">
          Bla
        </li>

      </ul>
    </div>
  </div>
</nav>
{{ end }}
