{{ define "menu" }}
{{/* Time-stamp: <2023-06-06 19:42:14 krylon> */}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D4D4D4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav nav-pills">

        <li class="nav-item">
          <a class="nav-link" href="/">Start</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown"
             href="#"
             role="button"
             aria-expanded="false">
            Hosts
          </a>
          <ul class="dropdown-menu">
            {{ range .Clients }}
            <li>
              <a class="dropdown-item" href="/host/{{ .Name }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </li>

        {{/*
        <li class="nav-item">
          Bla
        </li>
        */}}

      </ul>
    </div>
  </div>
</nav>
{{ end }}
