{{ define "single_host" }}
{{/* Created on 05. 06. 2023 */}}
{{/* Time-stamp: <2023-06-06 23:44:20 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h4>{{ .Period }} Hour Load running average</h4>

    <img id="chart" src="/chart/{{ .Hostname }}" loading="lazy" />

    {{ template "records" . }}

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
